body {
	font-family: Verdana, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;

	color: #333;
}

.app {
	width: 92%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to right, #58a5ce, #5d038a);
}

.todoForm label {
	display: flex;
	align-items: center;
}

.todoForm input[type='text'] {
	width: 60%;
	padding: 5px;
	border: 2px solid #61349f;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-right: 10px;
}

.todoForm button {
	padding: 5px 5px;
	background-color: #4579a6;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	border-color: #f4eef7;
}

.todoForm button:hover {
	background-color: #0e4069;
}

.todoList {
	padding: 0;
}

.todoListItem {
	background-color: #f9f9f9;
	padding: 3px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-color: #101010;
	border-width: 5px;
	border: 2px solid #61349f;
}

.todoItemInput {
	background-color: #f9f9f9;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #61349f;
}

.todoItem {
	font-size: 15px;
}

.todoText {
	display: flex;
	align-items: center;
}

.editTodoButton {
	width: 110px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.saveTodoButton {
	width: 110px;
	margin-left: 5px;

	margin-top: 5px;
	margin-bottom: 5px;
}

.deleteTodoButton {
	margin-left: 5px;
	width: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.todoListTitle {
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	color: #faf8fb;
}

.searchTodo {
	width: 80%;
	padding: 5px;
	border: 2px solid #61349f;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-right: 15px;
	margin-bottom: 10px;
}

.sortingTodos {
	transform: scale(2);
	margin-right: 10px;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
